body {
    text-align: center;
    font-family: "Arial";
    background-color: #EE82EE
}

img {
    width: 300px;
    z-index: 99;
}

.behind {
    background-image: url(https://maxcdn.icons8.com/Share/icon/Finance//bitcoin1600.png);
    background-position: center;
    background-size: cover;
    padding: 50px;
}